= simple_form_for @topic do |f|
  -if @topic.errors.any?
    .grid_10.prefix_1.suffix_1
      #error_explanation
        %h2= "#{pluralize(@topic.errors.count, "error")} prohibited this topic from being saved:"
        %ul
          - @topic.errors.full_messages.each do |msg|
            %li= msg
  .grid_4.prefix_1.suffix_1
    = f.input :presentor, :input_html => { :class => 'fill ' }
  .grid_4.prefix_1.suffix_1
    = f.input :target_on, :as => :string,   :input_html => {:class => 'jdate fill '}
  .grid_10.prefix_1.suffix_1
    = f.input :title, :input_html => { :class => 'fill ' }
  .grid_10.prefix_1.suffix_1
    = f.input :body, :input_html => { :class => 'disp_text ', :rows => 5, :style => 'padding:10px;width:760px;'}
    %br
  .grid_10.prefix_1.suffix_1
    #html_preview{ :class => 'topic_body disp_text'  } html preview    
    %br
  .grid_10.prefix_1.suffix_1
    .actions
      = f.submit 'Save', :class => 'jbutton'
  .clear
