= simple_form_for @topic do |f|
  -if @topic.errors.any?
    .grid_10.prefix_1.suffix_1
      #error_explanation
        %h2= "#{pluralize(@topic.errors.count, "error")} prohibited this topic from being saved:"
        %ul
          - @topic.errors.full_messages.each do |msg|
            %li= msg
  -if admin_signed_in? 
    .grid_4.prefix_7.suffix_1
      = f.input :presented_on, :label => "This topic will be presented on ( adding a date below will make this presentation non-voteable) ", :as => :string, :input_html => { :class => 'jdate fill '}, :label_html => { :class => 'admin' } 
      %br
  .grid_4.prefix_1.suffix_1
    = f.input :presentor, :input_html => { :class => 'fill ' }
  .grid_4.prefix_1.suffix_1
    = f.input :target_on, :label => 'Around when this should be presented',  :as => :string,   :input_html => {:class => 'jdate fill '}
  .grid_10.prefix_1.suffix_1
    = f.input :title, :input_html => { :class => 'fill ' }
  .grid_10.prefix_1.suffix_1
    = f.input :body, :input_html => { :id => 'input_box', :class => 'disp_text ', :rows => 5, :style => 'padding:10px;width:760px;'}
    %br
  .grid_10.prefix_1.suffix_1
    #html_preview{ :class => 'topic_body disp_text'  } html preview    
    %br
  .grid_10.prefix_1.suffix_1
    \ this uses textile and html for the input. <a target="blank" href="http://redcloth.org/hobix.com/textile/quick.html">click here for the textile guide </a>
    %br
    \please do not abuse html.

    %br
  .grid_10.prefix_1.suffix_1
    .actions
      = f.submit 'Save', :class => 'jbutton'
  .clear
:javascript
  $(function ($) {
    var pollFunciton = function () {
      var input = $('textarea#input_box');
      var text = input.val();
      var output = $('#html_preview');
      $.post('/textilize', { 'text' : text } , function(data,status,xhr){
        output.html(data);
      });
      setTimeout(pollFunciton, 0500);
    };
    pollFunciton();
  });
