

.grid_12{ :style => 'margin:20px' }
  - if user_signed_in?
    = link_to 'New Topic', new_topic_path , :class => 'jbutton'

.clear
.grid_11
  - @topics.each do |topic|
    .grid_8.prefix_1.suffix_1
      %h2.fg_text= topic.title
    .grid_1
      = link_to '', 'topics/' + topic.id.to_s + '/votes/up',
                    :remote => true,
                    :class => 'voter center ' + ((user_signed_in? and current_user.voted_for?(topic)) ? "upvoted" : "upvote")
      .score.center.fg_text
        = topic.total_score 
      %a{:class => 'voter center '+ ((user_signed_in? and current_user.voted_against?(topic)) ? "downvoted" : "downvote"), :href => '#' }
    .grid_8
      .disp_text.topic_body
        = raw topic.body_html
      .grid_7
        .fg_text
          .right
            - if topic.target_on
              \ around #{ topic.target_on }
            - else 
              \ anytime
          \ presented by #{ (topic.presentor.length > 0 && topic.presentor) || '???' }
    - if user_signed_in?
      .grid_1
        = link_to 'Edit', edit_topic_path(topic), :class => 'fg_text'
        - if current_user.email == topic.submited_by
          = link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete, :class => 'fg_text'
    .clear
    .grid_10{ :style => 'margin:10px;'}
