!!! 5
%html
  %head
    %title vote for topics
    = stylesheet_link_tag 'jquery-ui-1.8.6.custom'
    = stylesheet_link_tag 'grid'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'scaffold'
    = stylesheet_link_tag 'politeIeWarn'
    / [if IE]
      = stylesheet_link_tag 'ie'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag 'politeIeWarn'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .header
      %h1
        %a{ :href=> "/", :class => "plain_link" } tracker presentations  
      .right
        - if user_signed_in?
          = link_to current_user.email, destroy_user_session_path
        - else
          = link_to "Sign up", new_user_registration_path
          = link_to "Sign in", new_user_session_path
   
    .container_12
      - if notice
        .grid_6.notice= notice
        .clear
      - if alert
        .grid_6.alert= alert
        .clear
      = yield
    .clear
  :javascript
    $(document).ready(function () {
      $('.jbutton').button();
      $('.jdate').datepicker();
      $('.downvote').bind('ajax:success',function (data, status, xhr) {
        $(this).siblings('.score').text(status);
        var link = $(this);
        if (!link.hasClass('downvoted')){
          link.addClass('downvoted');
          var uplink = link.siblings('.upvote');
          uplink.removeClass('upvoted');
        } else {
          link.removeClass('downvoted');
        }
      });
      $('.upvote').bind('ajax:success', function(data, status,xhr){
        $(this).siblings('.score').text(status);
        var link = $(this);
        if (!link.hasClass('upvoted')){
          link.addClass('upvoted');
          var downlink= link.siblings('.downvote');
          downlink.removeClass('downvoted');
        } else {
          link.removeClass('upvoted');
        }
      });

      
      $(window).politeWarning(8,'This looks like crap in IE; use a different browser.');
    });
