!!! 5
%html
  %head
    %title vote for topics
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .header
      %h1
        %a{ :href=> "/", :class => "plain_link" } tracker presentations  
      .right
        - if user_signed_in?
          = link_to current_user.email, destroy_user_session_path
        - else
          = link_to "Sign up", new_user_registration_path
          = link_to "Sign in", new_user_session_path
   
    .container_12
      - if notice
        .notice= notice
      - if alert
        .alert= alert
      = yield
    .clear
  :javascript
    $(document).ready(function () {
      $('.jbutton').button();
      $('.jdate').datepicker();
      $('.downvote').bind('ajax:success',function (data, status, xhr) {
        $(this).siblings('.score').text(status);
        var link = $(this);
        if (!link.hasClass('downvoted')){
          link.addClass('downvoted');
          var uplink = link.siblings('.upvote');
          uplink.removeClass('upvoted');
        } else {
          link.removeClass('downvoted');
        }
      });
      $('.upvote').bind('ajax:success', function(data, status,xhr){
        $(this).siblings('.score').text(status);
        var link = $(this);
        if (!link.hasClass('upvoted')){
          link.addClass('upvoted');
          var downlink= link.siblings('.downvote');
          downlink.removeClass('downvoted');
        } else {
          link.removeClass('upvoted');
        }
      });

      
    });
